body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(circle at top, #020617, #000000);
    color: white;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: rgba(0,0,0,0.7);
}

.logo img {
    height: 50px;
}

nav a {
    color: #cbd5f5;
    margin-left: 20px;
    text-decoration: none;
}

/* HERO */
.hero {
    text-align: center;
    padding: 100px 20px;
}

input {
    padding: 10px;
    width: 250px;
}

/* BUTTON */
.btn {
    background: #38bdf8;
    padding: 12px 25px;
    border: none;
    color: black;
    cursor: pointer;
}

.btn-outline {
    border: 1px solid #38bdf8;
    background: transparent;
    color: #38bdf8;
}

/* FEATURES */
.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.card {
    background: #111;
    padding: 20px;
    border-radius: 10px;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 20px;
}
